.mat-card-simples {
  max-width: 300px;
  background-color: rgb(77, 231, 210);
  margin-top: 10px;
}
.mat-card {
  margin-left: 10px;
}

.mat-form-principal {
  margin-left: 10px;
 
}
.mat-card-content {
  margin-top: 5px;
  
}

.mat-card-footer {
  margin-left: 10px;
}

.mat-card-title {
  margin-top: 10px;
  margin-left: 10px;
}
